{% extends 'base.html.twig' %}

{% block title %}Edit Service{% endblock %}

{% block body %}
    <h1>Edit Service</h1>

    {{ include('FrontInterface/service/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('service_index_front') }}">back to list</a>

    {{ include('FrontInterface/service/_delete_form.html.twig') }}
{% endblock %}
