<div class="app font-sans min-w-screen min-h-screen bg-grey-lighter py-8 px-4">

    <div class="mail__wrapper max-w-md mx-auto">
        <div class="content__header text-center tracking-wide border-b">
            <div class="text-green text-sm font-bold">Service provider</div>
            you had resved a order , check your order
        </div>
    </div>
</div>