{% extends 'base.html.twig' %}

{% block title %}New Order{% endblock %}

{% block content %}
    <h1>Create new Order</h1>

    {{ include('FrontInterface/order/_form.html.twig') }}


{% endblock %}
