{% extends 'base.html.twig' %}
{% block content %}
<div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
    <div style="margin:50px auto;width:70%;padding:20px 0">
        <div style="border-bottom:1px solid #eee">
            <a href="" style="font-size:1.4em;color: #00466a;text-decoration:none;font-weight:600">Service Provider</a>
        </div>
        <p style="font-size:1.1em">Hi,</p>
        <p>Thank you for accepting the project .</p>
        <p style="font-size:0.9em;">Regards,<br />Service provider</p>
        <hr style="border:none;border-top:1px solid #eee" />

    </div>
</div>
{% endblock %}
