{% extends 'baseAdmin.html.twig' %}

{% block title %}Edit Domain{% endblock %}

{% block body %}
    <h1>Edit Domain</h1>

    {{ include('BackInterface/domain/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('domain_index_back') }}">back to list</a>

    {{ include('BackInterface/domain/_delete_form.html.twig') }}
{% endblock %}
