{% extends 'baseAdmin.html.twig' %}

{% block title %}New Domain{% endblock %}

{% block content %}
    <h1>Create new Domain</h1>

    {{ include('BackInterface/domain/_form.html.twig') }}

    <a href="{{ path('domain_index_back') }}">back to list</a>
{% endblock %}
