{% extends 'base.html.twig' %}

{% block title %}New Postulation{% endblock %}

{% block body %}
    <h1>Create new Postulation</h1>

    {{ include('FrontInterface/postulation/_form.html.twig') }}

    <a href="{{ path('postulation_index_front') }}">back to list</a>
{% endblock %}
