@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20%;
    background-color: #F2F2F2;
    font-family: 'Work Sans', sans-serif;
}

.logo{

    display: flex;
    color:#F27405 ;
    margin-top: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 20px;
    cursor: pointer;
}

.annonce {
    border: 2px solid #F27405;
    border-radius: 25px;
    background-color: #F27405;
    font-weight: bold;
    color: #FFFFFF;
}
.annonce:hover{
    border: 2px solid #F27405;
    border-radius: 20px;
    background-color: #FFFFFF;
}
.collapse ul.navbar-nav>li.nav-item>a {
    color: #333B3D;

}
.collapse ul.navbar-nav>li.nav-item>a.annonce {
    color: #FFFFFF;

}
.collapse ul.navbar-nav>li.nav-item>a.annonce:hover {
    color: #F27405;
}

.nav-item {
    margin-left: 10px;
    margin-right: 20px;
    color: #F27405;
}


#mainNav{
    height: 80px;

}

